html {
  background-color: rgba(27, 38, 54, 1);
  text-align: center;
  color: white;
}

body {
  margin: 0;
  color: white;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
}

#app {
  height: 100vh;
  text-align: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 92vh;
}
.form-column {
  display: flex;
  flex-direction: column;
  width: 40vw;
}
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.result-container {
  display: flex;
  flex-direction: column;
}
.form-item {
  width: 35vw;
}
.form-card {
  border-color: blue;
  border-width: 3px;
}
.result-card {
  flex: 1;
  overflow-y: hidden;
  border-color: blue;
  border-width: 3px;
}
.result-output {
  text-align: left;
}
.button {
  border-radius: 25px;
  width: 35vw
}